form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1.875rem;
  padding: 1.875rem 4.375rem;
  gap: 0.9375rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.9375rem 1.5625rem;
  border: 0;
  outline: none;
  background-color: var(--bg-clr);
  color: var(--secondary-clr);
  border-radius: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
  resize: none;
}

form textarea {
  overflow-y: scroll;
  overflow-x: auto;
}

form input::placeholder,
form textarea::placeholder {
  color: #9e9e9e93;
}

form button {
  width: auto;
  padding: 1.25rem;
  border-radius: 0.9375rem;
  background-color: var(--secondary-clr);
  color: var(--bg-clr);
  font-size: 1.5625rem;
  font-weight: 700;
  box-shadow: 0 5px 20px rgba(1, 1, 1, 0.5);
  transition: 0.25s ease-in-out;
  outline: none;
  border: 0;
  cursor: pointer;
}

form button:hover {
  box-shadow: 0 3.5px 10px rgba(1, 1, 1, 0.5);
  transform: scale(0.985);
}

#message::-webkit-scrollbar {
  display: none;
}

@media (width < 500px) {
  form {
    padding: 1.8rem 0;
  }

  form input,
  form textarea {
    font-size: 1rem;
  }

  form input::placeholder {
    font-size: 1rem;
  }
}
